{% extends 'base.html' %}

{% block title %}Sign up{% endblock %}

{% block content %}
  <h2>Sign up for a free account</h2>
  <p class="lead">Select below the type of account you want to create</p>
  <a href="{% url 'patron_signup' %}" class="btn btn-patron btn-lg" role="button">I'm a patron</a>
  <a href="{% url 'trainer_signup' %}" class="btn btn-trainer btn-lg" role="button">I'm a trainer</a>
{% endblock %}
