{% extends 'base.html' %}

{% block title %}About{% endblock %}

{% block content %}
<div class="aboutbody">

  <main>
    <div class="container" style="background:white">
      <div class="row">
        <div class="col">
          <h1 style="text-align:center">About Contoso Fitness</h1><br />

          <h3 style="text-align:center">We work hard for our members. We want you to succeed!</h3>
          <hr class="my-4">
          <p>Tired of working around the trainer's schedule or waiting for the gym to open? Contoso's virtual fitness programs are here for you!<br /><br />
            <h3 style="text-align:center"><em>Work out on your own schedule, at your own pace.</em></h3><br /><br />

            To start, <a href="{% url 'patron_signup' %}">create a free patron account</a>, then select from one of our curated workouts.
            We're constantly adding new routines. <a href="mailto:routines@contosofitness.com">Let us know if there's one you'd like to see.</a> <br /></p>

            <h3 style="text-align:center"><strong>Questions?</strong></h3><br />

            <p>We'd love to hear from you! <a href="mailto:contact@contosofitness.com">Contact Us</a></p>
          </div>
        </div>
      </main>
    </div>
    {% endblock %}
