{% extends 'base.html' %}

{% block content %}
<div class="container" id="homepagefadein" style="background:white">
  <div class="row">
    <div class="col">
      <h1 style="text-align: center">Welcome to Contoso Fitness!</h1>
      <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel" style="text-align:center">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img class="d-block w-100" src="/static/media/slider1.jpg" alt="Athelete stretching">
          </div>
          <div class="carousel-item">
            <img class="d-block w-100" src="/static/media/slider5.jpg" alt="Athelete working the ropes">
          </div>
          <div class="carousel-item">
            <img class="d-block w-100" src="/static/media/slider3.jpg" alt="Athelete practicing starts">
          </div>
          <div class="carousel-item">
            <img class="d-block w-100" src="/static/media/slider4.jpg" alt="Athelete working out">
          </div>
        </div>
      </div>
      <p class="lead">
        If you already have an account, go ahead and <a href="{% url 'login' %}">log in</a>. If you are new to Contoso Fitness, get started
        by creating a <a href="{% url 'patron_signup' %}">patron account</a> or a <a href="{% url 'trainer_signup' %}">trainer account</a>.
      </p>
      <hr>
      <h3>What's this about?</h3>
      <p>
        We make it easy for trainers to create exercise routines for the gym patrons, and for patrons to track their progress towards their goals.
        <a href="{% url 'about' %}">Learn more about it.</a>
      </p>
    </div>
  </div>
</div>

{% endblock %}
