<h2>Routines</h2>
<p class="text-muted">
  Goals:{% for goal in user.patron.goals.all %} {{ goal.get_html_badge }}{% endfor %}
  <a href="{% url 'patrons:patron_goals' %}"><small>(update goals)</small></a>
</p>

<ul class="nav nav-tabs mb-3">
  <li class="nav-item">
    <a class="nav-link{% if active == 'new' %} active{% endif %}" href="{% url 'patrons:routine_list' %}">New</a>
  </li>
  <li class="nav-item">
    <a class="nav-link{% if active == 'worked' %} active{% endif %}" href="{% url 'patrons:worked_routine_list' %}">Worked</a>
  </li>
</ul>
