{% extends 'base.html' %}

{% block title %}Goals{% endblock %}

{% load crispy_forms_tags %}

{% block content %}
  <h2 class="mb-3">Update your goals</h2>
  <form method="post" novalidate>
    {% csrf_token %}
    {{ form|crispy }}
    <button type="submit" class="btn btn-success">Save changes</button>
    <a href="{% url 'patrons:routine_list' %}" class="btn btn-outline-secondary">Nevermind</a>
  </form>
{% endblock %}
