{% extends 'base.html' %}

{% block title %}Routine List{% endblock %}

{% block content %}
  {% include 'users/patrons/_header.html' with active='new' %}
  <div class="card">
    <table class="table mb-0">
      <thead>
        <tr>
          <th>Routine</th>
          <th>Goal</th>
          <th>Length</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for routine in routines %}
          <tr>
            <td class="align-middle">{{ routine.name }}</td>
            <td class="align-middle">{{ routine.goal.get_html_badge }}</td>
            <td class="align-middle">{{ routine.tasks_count }} tasks</td>
            <td class="text-right">
              <a href="{% url 'patrons:do_routine' routine.pk %}" class="btn btn-primary">Start routine</a>
            </td>
          </tr>
        {% empty %}
          <tr>
            <td class="bg-light text-center font-italic" colspan="4">No routine matching your goals right now.</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
