{% extends 'base.html' %}

{% block title %}My Routines{% endblock %}

{% block content %}
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item active" aria-current="page">My Routines</li>
    </ol>
  </nav>
  <h2 class="mb-3">My Routines</h2>
  <a href="{% url 'trainers:routine_add' %}" class="btn btn-primary mb-3" role="button">Add Routine</a>
  <div class="card">
    <table class="table mb-0">
      <thead>
        <tr>
          <th>Routine</th>
          <th>Goal</th>
          <th>Tasks</th>
          <th>Worked</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for routine in routines %}
          <tr>
            <td class="align-middle"><a href="{% url 'trainers:routine_change' routine.pk %}">{{ routine.name }}</a></td>
            <td class="align-middle">{{ routine.goal.get_html_badge }}</td>
            <td class="align-middle">{{ routine.tasks_count }}</td>
            <td class="align-middle">{{ routine.worked_count }}</td>
            <td class="text-right">
              <a href="{% url 'trainers:routine_results' routine.pk %}" class="btn btn-primary">View results</a>
            </td>
          </tr>
        {% empty %}
          <tr>
            <td class="bg-light text-center font-italic" colspan="5">You haven't created any routine yet.</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
