{% extends 'base.html' %}

{% block title %}Routine Results{% endblock %}

{% load crispy_forms_tags humanize %}

{% block content %}
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'trainers:routine_change_list' %}">My Routines</a></li>
      <li class="breadcrumb-item"><a href="{% url 'trainers:routine_change' routine.pk %}">{{ routine.name }}</a></li>
      <li class="breadcrumb-item active" aria-current="page">Results</li>
    </ol>
  </nav>
  <h2 class="mb-3">{{ routine.name }} Results</h2>

  <div class="card">
    <div class="card-header">
      <strong>Worked Routines</strong>
      <span class="badge badge-pill badge-primary float-right">Completion Pct: {{ routine_score.average_score|default_if_none:0.0 }}</span>
    </div>
    <table class="table mb-0">
      <thead>
        <tr>
          <th>Patron</th>
          <th>Date</th>
          <th>Completion Pct</th>
        </tr>
      </thead>
      <tbody>
        {% for worked_routine in worked_routines %}
          <tr>
            <td>{{ worked_routine.patron.user.username }}</td>
            <td>{{ worked_routine.date|naturaltime }}</td>
            <td>{{ worked_routine.score }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    <div class="card-footer text-muted">
      Total patrons: <strong>{{ total_worked_routines }}</strong>
    </div>
  </div>
{% endblock %}
