.logo {
  font-family: 'Rancho';
}

.logo a {
  color: rgb(52, 58, 64);
  text-decoration: none;
}

footer {
  font-size: 1rem;
}

footer a {
  color: #0e78db;
}

.list-group-formset label {
  display: none;
}

.list-group-formset .form-group,
.list-group-formset .invalid-feedback {
  margin-bottom: 0;
}

.list-group-formset .form-control {
  padding: .25rem .5rem;
  font-size: .875rem;
  line-height: 1.5;
  border-radius: .2rem;
}

.btn-patron {
  color: #fff;
  background-color: #91afb6;
  border-color: #91afb6;
}

.btn-patron:hover,
.btn-patron:active {
  color: #fff;
  background-color: #608993;
  border-color: #608993;
}

.btn-trainer {
  color: #fff;
  background-color: #8980a5;
  border-color: #8980a5;
}

.btn-trainer:hover,
.btn-trainer:active {
  color: #fff;
  background-color: #66598B;
  border-color: #66598B;
}

.has-danger .radio,
.has-danger .checkbox {
  color: #dc3545;
}

.has-danger .invalid-feedback {
  display: block;
}

.card, .breadcrumb{
  background-color: rgba(255, 255, 255, 0.7);
}