/*      Globals     */

html,
body {
  height: 100%;
}

.body {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-align: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  padding-bottom: 40px;
  background-color: #f5f5f5;
}

/*      End Globals     */

/*      Home page     */
#background {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: 100%;
  height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  background: url(../media/gym.jpg) no-repeat center;
  background-size: cover;
}

/*      End Home page     */

/*      Login Page      */

.loginbg
{
  height: 100%;
  background: url("../media/gym.jpg") no-repeat center;
  background-size: cover;
}

.content {
  position: fixed;
  bottom: 50;
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 100%;
  padding: 20px;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

/*      End login page      */

/*      Registration page   */
.registerbg
{
  height: 100%;
  background: url("../media/trainer.jpeg") no-repeat center;
  background-size: cover;
}
/*      End Registration Page     */
/*      about     */

/*.aboutbody {
padding:0;
margin:auto;
top: 55px;
left:0;
width: 100%;
height: 100%;
background: url("../media/gym2.jpeg") no-repeat center;
background-size: cover;
}*/

/*      end about     */

/*      Our Staff page    */

/*      Welcome Trainer page   */
.trainersection
{
  height: 100%;
  background:rgba(255, 255, 255, 0.46);
  background-size: cover;
}
/*      End Welcome Trainer Page     */

:root {
  --jumbotron-padding-y: 3rem;
}

.jumbotron {
  padding-top: var(--jumbotron-padding-y);
  padding-bottom: var(--jumbotron-padding-y);
  margin-bottom: 0;
}
@media (min-width: 768px) {
  .jumbotron {
    padding-top: calc(var(--jumbotron-padding-y) * 2);
    padding-bottom: calc(var(--jumbotron-padding-y) * 2);
  }
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }

/*      end our staff Page    */
