{% extends 'base.html' %}

{% block title %}Routine {{ routine.name }}{% endblock %}

{% load crispy_forms_tags %}

{% block content %}
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'trainers:routine_change_list' %}">My Routines</a></li>
      <li class="breadcrumb-item active" aria-current="page">{{ routine.name }}</li>
    </ol>
  </nav>
  <h2 class="mb-3">
    {{ routine.name }}
    <a href="{% url 'trainers:routine_results' routine.pk %}" class="btn btn-primary float-right">View results</a>
  </h2>
  <div class="row mb-3">
    <div class="col-md-6 col-sm-8 col-12">
      <form method="post" novalidate>
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" class="btn btn-success">Save changes</button>
        <a href="{% url 'trainers:routine_change_list' %}" class="btn btn-outline-secondary" role="button">Nevermind</a>
        <a href="{% url 'trainers:routine_delete' routine.pk %}" class="btn btn-danger float-right">Delete</a>
      </form>
    </div>
  </div>
  <div class="card">
    <div class="card-header">
      <div class="row">
        <div class="col-10">
          <strong>Tasks</strong>
        </div>
        <div class="col-2">
          <strong>Responses</strong>
        </div>
      </div>
    </div>
    <div class="list-group list-group-flush list-group-formset">
      {% for task in tasks %}
        <div class="list-group-item">
          <div class="row">
            <div class="col-10">
              <a href="{% url 'trainers:task_change' routine.pk task.pk %}">{{ task.text }}</a>
            </div>
            <div class="col-2">
              {{ task.response_count }}
            </div>
          </div>
        </div>
      {% empty %}
        <div class="list-group-item text-center">
          <p class="text-muted font-italic mb-0">You haven't created any tasks yet. Go ahead and <a href="{% url 'trainers:task_add' routine.pk %}">add the first task</a>.</p>
        </div>
      {% endfor %}
    </div>
    <div class="card-footer">
      <a href="{% url 'trainers:task_add' routine.pk %}" class="btn btn-primary btn-sm">Add task</a>
    </div>
  </div>
{% endblock %}
