{% extends 'base.html' %}

{% block title %}Add Task{% endblock %}

{% load crispy_forms_tags %}

{% block content %}
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'trainers:routine_change_list' %}">My Routines</a></li>
      <li class="breadcrumb-item"><a href="{% url 'trainers:routine_change' routine.pk %}">{{ routine.name }}</a></li>
      <li class="breadcrumb-item active" aria-current="page">Add a new task</li>
    </ol>
  </nav>
  <h2 class="mb-3">Add a new task</h2>
  <p class="lead">Add first the text of the task. In the next step you will be able to add the possible patron responses.</p>
  <form method="post" novalidate>
    {% csrf_token %}
    {{ form|crispy }}
    <button type="submit" class="btn btn-success">Save</button>
    <a href="{% url 'trainers:routine_change' routine.pk %}" class="btn btn-outline-secondary" role="button">Nevermind</a>
  </form>
{% endblock %}
