{% extends 'base.html' %}

{% block title %}Routine {{ routine.name }}{% endblock %}

{% load crispy_forms_tags %}

{% block content %}
  <div class="progress mb-3">
    <div class="progress-bar" role="progressbar" aria-valuenow="{{ progress }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ progress }}%"></div>
  </div>
  <h2 class="mb-3">{{ routine.name }}</h2>
  <p class="lead">{{ task.text }}</p>
  <p><iframe width="640" height="385"
  src="{{ task.video }}" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen>
  </iframe></p>
  <form method="post" novalidate>
    {% csrf_token %}
    {{ form|crispy }}
    <button type="submit" class="btn btn-primary">Next →</button>
  </form>
{% endblock %}
