{% extends 'base.html' %}

{% block title %}Worked Routines{% endblock %}

{% block content %}
  {% include 'users/patrons/_header.html' with active='worked' %}
  <div class="card">
    <table class="table mb-0">
      <thead>
        <tr>
          <th>Routine</th>
          <th>Goal</th>
          <th>Progress</th>
        </tr>
      </thead>
      <tbody>
        {% for worked_routine in worked_routines %}
          <tr>
            <td>{{ worked_routine.routine.name }}</td>
            <td>{{ worked_routine.routine.goal.get_html_badge }}</td>
            <td>{{ worked_routine.score }}</td>
          </tr>
        {% empty %}
          <tr>
            <td class="bg-light text-center font-italic" colspan="3">You haven't completed any routines yet.</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
